<section id="JuegosDeDeporte" class="container py-4 text-white">
  <h3 class="mb-4">⚽ Juegos de Deporte Populares</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">

    
    <!-- Athlete Kings (Arcade, 1994) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="arcade"
        data-year="1994"
        data-slug="athlete-kings"
        data-tipo="juegos"
        data-author="Konami"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Athlete Kings</h5>
          <img
            src="assets/Portada-juegos/Deportes/athlete kings.png"
            class="img-fluid mb-2 card-img-custom"
            alt="Athlete Kings portada"
          />
          <p class="card-text">
            Athlete Kings, lanzado por Konami en 1994 para arcade, ofrece competiciones de estilo olímpico donde hasta ocho jugadores pueden participar en carreras, saltos, natación y más, con controles ágiles, gráficos dinámicos y modos cooperativos y competitivos para un auténtico ambiente deportivo.
          </p>
        </div>
      </div>
    </div>

    <!-- Baseball (NES, 1983) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="nintendo"
        data-year="1983"
        data-slug="baseball"
        data-tipo="juegos"
        data-author="Nintendo"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Baseball</h5>
          <img
            src="assets/Portada-juegos/Deportes/baseball.png"
            class="img-fluid mb-2 card-img-custom"
            alt="Baseball portada"
          />
          <p class="card-text">
            Baseball, publicado por Nintendo en 1983 para NES, fue uno de los primeros simuladores deportivos en consola. Incluye mecánicas de bateo, lanzamiento y fildeo sencillas pero adictivas, múltiples posiciones de campo y modo para dos jugadores, sentando las bases de los juegos de béisbol en casa.
          </p>
        </div>
      </div>
    </div>

    <!-- Dave Mirra Freestyle BMX (PS1, 2000) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="playstation"
        data-year="2000"
        data-slug="dave-mirra-freestyle-bmx"
        data-tipo="juegos"
        data-author="Z-Axis / Acclaim"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Dave Mirra Freestyle BMX</h5>
          <img
            src="assets/Portada-juegos/Deportes/dave mirra freestyle bmx.png"
            class="img-fluid mb-2 card-img-custom"
            alt="Dave Mirra Freestyle BMX portada"
          />
          <p class="card-text">
            Dave Mirra Freestyle BMX, lanzado en 2000 para PS1, combina amplios parques abiertos y pistas urbanas con físicas de bicicleta realistas. Los jugadores ejecutan combos de trucos, desbloquean modos de prueba y personalizan sus bicicletas, todo ello con la licencia del famoso campeón de BMX Dave Mirra.
          </p>
        </div>
      </div>
    </div>

    <!-- Duck Hunt (NES, 1984) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="nintendo"
        data-year="1984"
        data-slug="duck-hunt"
        data-tipo="juegos"
        data-author="Nintendo"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Duck Hunt</h5>
          <img
            src="assets/Portada-juegos/Deportes/duck hunt.png"
            class="img-fluid mb-2 card-img-custom"
            alt="Duck Hunt portada"
          />
          <p class="card-text">
            Duck Hunt, lanzado por Nintendo en 1984 para NES, utilizó la pistola óptica Zapper para derribar patos en pantalla. Con niveles de dificultad progresiva, animaciones sencillas y la icónica risa del perro recolector, estableció un estándar para los juegos de tiro deportivo en consolas.
          </p>
        </div>
      </div>
    </div>

    <!-- F1 Racing Championship (PS1, 1997) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="playstation"
        data-year="1997"
        data-slug="f1-racing-championship"
        data-tipo="juegos"
        data-author="Ubisoft"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">F1 Racing Championship</h5>
          <img
            src="assets/Portada-juegos/Deportes/f1.png"
            class="img-fluid mb-2 card-img-custom"
            alt="F1 Racing Championship portada"
          />
          <p class="card-text">
            F1 Racing Championship, publicado por Ubisoft en 1997 para PS1, ofrece una simulación de Fórmula 1 con circuitos oficiales, equipos y pilotos reales, física de conducción ajustable, estrategia de boxes y modos de carrera completos que sumergen al jugador en la emoción de la máxima categoría del motor.
          </p>
        </div>
      </div>
    </div>

    <!-- Gallop Racer (Arcade, 1996) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="arcade"
        data-year="1996"
        data-slug="gallop-racer"
        data-tipo="juegos"
        data-author="Tecmo"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Gallop Racer</h5>
          <img
            src="assets/Portada-juegos/Deportes/gallop racer.png"
            class="img-fluid mb-2 card-img-custom"
            alt="Gallop Racer portada"
          />
          <p class="card-text">
            Gallop Racer, desarrollado por Tecmo en 1996, combina la simulación ecuestre con elementos de gestión: los jugadores crían y entrenan caballos, eligen estrategias de carrera y compiten en pistas variadas, disfrutando de animaciones detalladas, multijugador y ranking de tiempos en arcades.
          </p>
        </div>
      </div>
    </div>

    <!-- Inazuma Eleven (GBA, 2008) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="nintendo"
        data-year="2008"
        data-slug="inazuma-eleven"
        data-tipo="juegos"
        data-author="Level-5"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Inazuma Eleven</h5>
          <img
            src="assets/Portada-juegos/Deportes/inazuma_eleven.jpg"
            class="img-fluid mb-2 card-img-custom"
            alt="Inazuma Eleven portada"
          />
          <p class="card-text">
            Inazuma Eleven, creado por Level‑5 en 2008 para GBA, fusiona RPG y fútbol: gestiona un equipo escolar, mejora habilidades, personaliza alineaciones y ejecuta técnicas especiales durante combates tácticos por turnos. Su historia cautivadora y jugabilidad profunda renovaron los juegos deportivos portátiles.
          </p>
        </div>
      </div>
    </div>

    <!-- NBA Jam (Arcade, 1993) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="arcade"
        data-year="1993"
        data-slug="nba-jam"
        data-tipo="juegos"
        data-author="Midway Games"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">NBA Jam</h5>
          <img
            src="assets/Portada-juegos/Deportes/nba jam.png"
            class="img-fluid mb-2 card-img-custom"
            alt="NBA Jam portada"
          />
          <p class="card-text">
            NBA Jam, lanzado por Midway en 1993, revolucionó los juegos de baloncesto arcade con duelos dos contra dos, mates descomunales, frases icónicas, jugadores ocultos y turbo boost. Su ritmo frenético, controles accesibles y multijugador local lo convirtieron en un clásico indiscutible.
          </p>
        </div>
      </div>
    </div>

    <!-- Need for Speed: Underground (PS2, 2003) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="playstation"
        data-year="2003"
        data-slug="need-for-speed-underground"
        data-tipo="juegos"
        data-author="EA Black Box"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Need for Speed: Underground</h5>
          <img
            src="assets/Portada-juegos/Deportes/NeedFSU.jpg"
            class="img-fluid mb-2 card-img-custom"
            alt="Need for Speed Underground portada"
          />
          <p class="card-text">
            Need for Speed: Underground, desarrollado por EA Black Box en 2003, introdujo la cultura de las carreras callejeras con coches personalizables, escenarios nocturnos urbanos, modo historia narrativo, persecuciones policiales y banda sonora licenciada, redefiniendo la franquicia para entusiastas de los “tuners”.
          </p>
        </div>
      </div>
    </div>

    <!-- Pro Evolution Soccer (PS2, 2001) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="playstation"
        data-year="2001"
        data-slug="pro-evolution-soccer"
        data-tipo="juegos"
        data-author="Konami"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Pro Evolution Soccer</h5>
          <img
            src="assets/Portada-juegos/Deportes/pes.png"
            class="img-fluid mb-2 card-img-custom"
            alt="Pro Evolution Soccer portada"
          />
          <p class="card-text">
            Pro Evolution Soccer, lanzado por Konami en 2001, ofrece animaciones realistas, IA avanzada, pases y regates precisos, y el modo Master League con gestión de club. Su presentación auténtica y jugabilidad equilibrada establecieron un nuevo referente en simuladores de fútbol para videoconsolas.
          </p>
        </div>
      </div>
    </div>

    <!-- Pong (Arcade, 1972) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="arcade"
        data-year="1972"
        data-slug="pong"
        data-tipo="juegos"
        data-author="Atari"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Pong</h5>
          <img
            src="assets/Portada-juegos/Deportes/pong.png"
            class="img-fluid mb-2 card-img-custom"
            alt="Pong portada"
          />
          <p class="card-text">
            Pong, creado por Atari y lanzado en 1972, simula un partido de tenis de mesa con dos paletas y una pelota rebotando. Su simplicidad, pantalla monocroma y jugabilidad adictiva popularizaron los videojuegos arcade y sentaron las bases de la industria del entretenimiento electrónico.
          </p>
        </div>
      </div>
    </div>

    <!-- Pool (Atari 2600, 1980) -->
    <div class="col">
      <div
        class="card clickable-card text-center h-100 bg-white border-2"
        data-genre="deporte"
        data-platform="atari"
        data-year="1980"
        data-slug="pool"
        data-tipo="juegos"
        data-author="Atari"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Pool</h5>
          <img
            src="assets/Portada-juegos/Deportes/pool.png"
            class="img-fluid mb-2 card-img-custom"
            alt="Pool portada"
          />
          <p class="card-text">
            Pool, lanzado por Atari en 1980 para 2600, recrea el billar en vista cenital con físicas sencillas de bola y colisión. Incluye modos de juego para uno o dos jugadores, diferentes tipos de tacadas y feedback visual, ofreciendo una experiencia deportiva compacta y accesible.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>